
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#title {
    margin-bottom: 50px;
    font-size: 50px;
}

.board_grid {
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-rows: repeat(7, 1fr);
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
    background-color: rgb(25, 88, 236);
    justify-items: center;

}

.cell {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    
  }

  .cell::after {
    background: transparent;
    border: 10px bold;
    border-radius: 50%;
    border: 3px solid black;
    content: '';
    cursor: pointer;
    height: 75px;
    width: 75px;
  }


.footer {
    margin-top: 50px;
}


/* border-radius: 0 0 0 10px; */