
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/* font credit - 117studio - Type Foundry and Graphic Design Studio
source - https://177studio.com/
non-comercial, personal use */
@font-face{
    font-family: "abnes";
    src: url("../../public/fonts/abnes.ttf")
}

body {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    justify-items: center;
}


.title {
    grid-row: 1;
    grid-column: 2;
    font-family: 'abnes';
    margin-bottom: 50px;
    font-size: 50px;
}

.board_grid {
    grid-row-start: 2;
    display: grid;
    height: 650px;
    width: 650px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
    border: solid 1px #00cccc;
    align-items: center;
    justify-items: center;
}

.cell {
    overflow: hidden;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px rgb(0, 217, 255), 1px 0 .4em #0fa;
    border-radius:50%;
    height: 70px;
    width: 70px;
    justify-content: center;
    text-align:justify;
    cursor:cell;
  }
  .player_1 {
    padding: 10px;
    margin: 10px;
    font-family: 'abnes';
    grid-row: 2;
    grid-column: 1;
    color: white;
  }
  .player_2 {
    padding: 10px;
    margin: 10px;
    font-family: 'abnes';
    grid-row: 2;
    grid-column: 3;
    color: white;
  }
  .player1_token{
    grid-row: 2;
    grid-column: 1;
    border:solid 1px #00cccc;
    border-radius:50%;
    height: 70px;
    width: 70px;
    margin-top: 50px;
    cursor:cell;

  }
  .player2_token{
    grid-row: 2;
    grid-column: 3;
    border:solid 1px #00cccc;
    border-radius:50%;
    height: 70px;
    width: 70px;
    margin-top: 50px;
    cursor:cell;
  }


.footer {
    grid-row: 3;
    grid-column: 2;
    margin-top: 50px;
}

.start_reset {
    font-family: 'abnes';
    padding: 15px;
    border-radius: 5%;
    cursor:cell;
}

.rounded {
    border-radius: 7px 7px 7px 7px;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  